.chat-header-info {
  height: 8vh;
}
.chat-header-info-user {
  display: flex;
}
.info-avatar-user {
  height: 8vh;
}
.info-avatar-user:focus {
  background-color: #ffffff;
}
.info-avatar-user:hover {
  background-color: #ffffff;
}
.info-desc {
  padding-top: 3px;
}
.info-desc-name {
  font-weight: bold;
}
/* Style Group */
.chat-header-info-group {
  display: flex;
}
.info-avatar-group {
  height: 8vh;
}
.info-avatar-group:focus {
  background-color: #ffffff;
}
.info-avatar-group:hover {
  background-color: #ffffff;
}
.info-desc-members {
  margin-left: -1.2em;
}
.info-desc-members:focus {
  background-color: #ffffff;
  color: #006ffd;
}
.info-desc-members:hover {
  background-color: #ffffff;
  color: #006ffd;
}
