h1{
    color: red;
}
.container{
    display: flex;
    flex: 1;
    height: 100vh;
    justify-content: center;
    align-items: center;
    border-left: solid gray 0.001cm;
}
.form{
    width: 80vh;
    height: 70vh;
    flex-direction: column;
   
}
.header{
    display: flex;
    flex: 0.2;
    justify-content: center;
    align-items: center;
}
.bd{
    display: flex;
    flex: 0.8;
    justify-content: center;
    align-items: center;
}