.menu {
  background-color: #0091ff;
  min-width: 70px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.btn-avatar {
  background-color: #0091ff;
  height: 10vh;
  width: 100%;
  border: none;
  border-radius: 100%;
}
.btn-avatar:hover {
  background-color: #0091ff;
}
.btn-avatar:focus {
  background-color: #0091ff;
}
.btn-menu {
  background-color: #0091ff;
  height: 10vh;
  width: 100%;
  border: none;
}
.btn-menu:hover {
  background-color: #0082e5;
}
.btn-menu:focus {
  background-color: #0082e5;
}
