.message-author {
    font-weight: bold;
    font-style: italic;
    color: #686868;
}
.content {
    background-color: #ffffff;
    border-radius: 8px;
    margin: 0 8px;
    padding: 10px;
}
.message-date {
    font-size: 10px;
    color: #a7a7a7;
}
.content {
    background-color: #ffffff;
    border-radius: 8px;
    margin: 0 8px;
    padding: 10px;
}
.msg {
    margin-bottom: 10px;
    display: flex;
    font-weight: bold;
    /* max-width: 300px; */
}

.m-msg .content {
    background-color: #c9eaed;
}
.m-msg {
    margin-right: 8px;
    margin-bottom: 10px;
    display: flex;
    font-weight: bold;
    flex-direction: row-reverse;
    /* max-width: 300px; */
}
.btn {
    border-width: 0ch;
}
.reaction {
    /* background-color: red; */
    position: relative;
    top: -10px;
    left: 50px;
}
.text-mess{
    font-size: 15px;
    font-weight: bold;
    word-wrap:break-word;
    /* max-width: 300px; */
}
